.box {
  width: 200px;
  height: 200px;
  background-color: bisque;
  font-size: 32px;

  /* padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 10px; */

  /* Short hand property */
  /* top/bottom left/right */
  /* padding: 50px 100px; */

  /* padding: 20px 80px 50px 100px; */
  padding: 50px 100px 180px;

  /* margin: 100px; */
  margin-top: 100px;
  /* margin-left: auto;
  margin-right: auto; */

  margin-inline: auto;
}
